<div id="monuments">
  <p>Monuments</p>
  <hr>

  <div id="monument-details">
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Year</th>
            <th>Status</th>
            <th>Lat</th>
            <th>Lon</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let m of monuments">
            <td>{{ m.name }}</td>
            <td>{{ m.description }}</td>
            <td>{{ m.year }}</td>
            <td>{{ m.status }}</td>
            <td>{{ m.latitude }}</td>
            <td>{{ m.longitude }}</td>
            <td>
              <button
                color="accent"
                (click)="deleteMonument(m.id || 0)"
                mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              <button
                color="primary"
                (click)="onEditClicked(m)"
                mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </tr>

          <!-- plus dugme u posebnom redu -->
          <tr>
            <td colspan="7">
              <button
                color="primary"
                (click)="onAddClicked()"
                mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <xp-monument-form
        *ngIf="shouldRenderMonumentForm"
        [shouldEdit]="shouldEdit"
        [monument]="selectedMonument"
        (monumentUpdated)="onMonumentUpdated()">
      </xp-monument-form>
    </div>
  </div>
</div>
