<div class="details-container" *ngIf="!isLoading; else loadingBlock">

  <h1 class="title">{{ details.name }}</h1>

  <div class="badge preview" *ngIf="!isPurchased">PREVIEW ONLY</div>
  <div class="badge purchased" *ngIf="isPurchased">PURCHASED</div>

  <p class="description">{{ details.description }}</p>

  <!-- SLIDESHOW SLIKA -->
  <div class="images" *ngIf="details?.images?.length">
    <img *ngFor="let img of details.images" [src]="img" alt="Tour image">
  </div>

  <!-- INFO -->
  <div class="info-box">
    <p><strong>Length:</strong> {{ details.length }} km</p>
    <p><strong>Average duration:</strong> {{ details.averageDuration }} min</p>
    <p><strong>Start point:</strong> {{ details.startPoint }}</p>
  </div>

  <div class="equipment-section" *ngIf="details.equipment && details.equipment.length > 0" style="margin-top: 20px;">
  <h2 style="font-size: 1.4rem; margin-bottom: 10px;">Required Equipment</h2>
  <ul style="list-style-type: disc; padding-left: 20px;">
    <li *ngFor="let item of details.equipment" style="margin-bottom: 5px; color: #555;">
      <strong>{{ item.name }}</strong> 
      <span *ngIf="item.description"> - {{ item.description }}</span>
    </li>
  </ul>
</div>



  <!-- KEYPOINTS -->
  <div class="kp-section">

    <h2>Route Key Points</h2>
  
    <!-- CANNOT SEE -->
    <div *ngIf="!isPurchased" class="locked">
      <mat-icon>lock</mat-icon>
      <p>You must purchase this tour to unlock all key points.</p>
    </div>

    <!-- CAN SEE -->
    <ul *ngIf="isPurchased">
      <li *ngFor="let kp of details.keyPoints">
        <strong>{{ kp.name }}</strong>  
        <span class="coords">({{ kp.latitude }}, {{ kp.longitude }})</span>
      </li>
    </ul>

  </div>

 <!-- MEETUPS -->
<div class="meetups-section" *ngIf="meetups && meetups.length > 0">
    <h2>Related Meetups</h2>
    
    
    <div class="meetup-list">
      <div 
        class="meetup-card" 
        *ngFor="let m of meetups" 
        (click)="openMeetup(m.id)">
        
        <div class="meetup-header">
          <strong>{{ m.title }}</strong>
          <span class="meetup-date">{{ m.dateTime | date:'mediumDate' }}</span>
        </div>
        <p class="meetup-desc">{{ m.description | slice:0:100 }}{{ m.description.length > 100 ? '...' : '' }}</p>
      </div>
    </div>
  </div>

 <!-- REVIEWS -->
 <h2 class="reviews-title">Reviews</h2>
  <xp-tour-reviews 
    [tourId]="details.id"
    [currentUserId]="currentUserId">
  </xp-tour-reviews>

</div>


<ng-template #loadingBlock>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
