<div class="tourist-map-container">

  <div class="header">
    <h1>Explore Map</h1>
    <p>See all historical monuments on the map.</p>
    <small>You can select your position by clicking on the map.</small>
  </div>

  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="map-wrapper">
    <xp-map
      [mode]="'object-view'"
      [points]="points"
      [initialPoint]="initialPoint"
      [zoom]="12"
      (pointSelected)="onPointSelected($event)">
    </xp-map>
    <button (click)="saveChanges()" [disabled]="!selectedPoint">
        Save my position
    </button>
  </div>

</div>
