<form class="kp-form" [formGroup]="keyPointForm" (ngSubmit)="onSubmit()">

  <div class="kp-form-fields">

    <!-- Name -->
    <mat-form-field appearance="outline" class="kp-field full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Enter key point name"
      />

      <mat-error *ngIf="name?.hasError('required') && name?.touched">
        Name is required.
      </mat-error>
      <mat-error *ngIf="name?.hasError('minlength') && name?.touched">
        Name must be at least 3 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="outline" class="kp-field full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="3"
        formControlName="description"
        placeholder="Enter key point description"
      ></textarea>

      <mat-error *ngIf="description?.hasError('required') && description?.touched">
        Description is required.
      </mat-error>
      <mat-error *ngIf="description?.hasError('minlength') && description?.touched">
        Description must be at least 5 characters long.
      </mat-error>
    </mat-form-field>

    <!-- Image Upload (drag & drop) -->
    <div class="upload-field">

      <label
        class="upload-box"
        [class.dragover]="dragActive"
        [class.invalid]="imageUrl?.invalid && imageUrl?.touched"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
      >
        <div class="upload-content">
          <mat-icon class="upload-icon">cloud_upload</mat-icon>

          <div class="upload-text-main">
            Drag and drop photo here
          </div>

          <div class="upload-counter">
            {{ preview ? '1 / 1 photos' : '0 / 1 photos' }}
          </div>
        </div>
      </label>

      <div class="upload-error"
          *ngIf="imageUrl?.hasError('required') && imageUrl?.touched">
        Image is required.
      </div>

    </div>

    <!-- Preview image -->
    <div *ngIf="preview" class="preview-item">

      <img [src]="preview" class="preview-img">

      <button 
        class="remove-btn"
        type="button"
        (click)="removeImage($event)">
          ✕
      </button>

    </div>

    <!-- Hidden url -->
    <input type="hidden" formControlName="imageUrl">

    <!-- Secret -->
    <mat-form-field appearance="outline" class="kp-field full-width">
      <mat-label>Secret</mat-label>
      <input
        matInput
        formControlName="secret"
        placeholder="Secret code / key"
      />

      <mat-error *ngIf="secret?.hasError('required') && secret?.touched">
        Secret is required.
      </mat-error>
    </mat-form-field>

  </div>

  <!-- Buttons -->
  <div class="kp-form-actions">
    <button mat-stroked-button type="button"  (click)="onCancel()">
      Cancel
    </button>

    <button mat-flat-button color="primary" type="submit" [disabled]="keyPointForm.invalid">
      Save
    </button>
  </div>

</form>
