<h2 mat-dialog-title>{{ isEditMode ? 'Edit Meetup' : 'Create New Meetup' }}</h2>

<mat-dialog-content>
  <form [formGroup]="meetupForm" class="meetup-form-container">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter meetup title" required>
      <mat-error *ngIf="meetupForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
      <mat-error *ngIf="meetupForm.get('title')?.hasError('minlength')">
        Title must be at least 3 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="4" placeholder="Enter description (Markdown supported)" required></textarea>
      <mat-error *ngIf="meetupForm.get('description')?.hasError('required')">
        Description is required
      </mat-error>
      <mat-error *ngIf="meetupForm.get('description')?.hasError('minlength')">
        Description must be at least 10 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date and Time</mat-label>
      <input matInput type="datetime-local" formControlName="dateTime" required>
      <mat-error *ngIf="meetupForm.get('dateTime')?.hasError('required')">
        Date and time is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" placeholder="Dunavska 1, Novi Sad" required>
      <button mat-icon-button matSuffix (click)="onAddressSearch()" type="button" color="primary">
        <mat-icon>search</mat-icon>
      </button>
      <mat-hint>Type address and click search icon or click directly on map</mat-hint>
    </mat-form-field>

    <div class="map-wrapper">
      <xp-map 
        mode="edit-object" 
        [initialPoint]="initialPoint"
        (pointSelected)="onPointSelected($event)"
        [zoom]="13">
      </xp-map>
    </div>

    <mat-form-field appearance="outline" class="full-width" *ngIf="availableTours.length > 0">
        <mat-label>Link to Tour (Optional)</mat-label>
        <mat-select formControlName="tourId">
            <mat-option [value]="null">-- None --</mat-option>
            <mat-option *ngFor="let tour of availableTours" [value]="tour.id">
                {{ tour.name }}
            </mat-option>
        </mat-select>
        <mat-hint>Connect this meetup with one of your tours.</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="meetupForm.invalid">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>