<mat-card class="award-event-form-card">
    <mat-card-header>
        <mat-card-title>{{ shouldEdit ? 'Izmeni Dodelu Nagrada' : 'Kreiraj Novu Dodelu Nagrada' }}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form [formGroup]="awardEventForm" (ngSubmit)="addAwardEvent()" class="award-event-form-fields">
            
            <!-- Naziv -->
            <mat-form-field appearance="outline">
                <mat-label>Naziv</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="awardEventForm.get('name')?.errors?.['required']">Naziv je obavezan.</mat-error>
            </mat-form-field>

            <!-- Opis -->
            <mat-form-field appearance="outline">
                <mat-label>Opis</mat-label>
                <textarea matInput formControlName="description" rows="3"></textarea>
                <mat-error *ngIf="awardEventForm.get('description')?.errors?.['required']">Opis je obavezan.</mat-error>
            </mat-form-field>
            
            <!-- Godina -->
            <mat-form-field appearance="outline">
                <mat-label>Godina Dodele</mat-label>
                <input matInput type="number" formControlName="year">
                <mat-error *ngIf="awardEventForm.get('year')?.errors?.['required']">Godina je obavezna.</mat-error>
                <mat-error *ngIf="awardEventForm.get('year')?.errors?.['min'] || awardEventForm.get('year')?.errors?.['max']">Godina mora biti između 2000 i 2100.</mat-error>
            </mat-form-field>

            <!-- Datum i vreme pocetka -->
            <div class="date-time-group">
                <mat-form-field appearance="outline" class="date-field">
                    <mat-label>Datum Početka</mat-label>
                    <input matInput [matDatepicker]="pickerStart" formControlName="votingStartDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                    <mat-error *ngIf="awardEventForm.get('votingStartDate')?.errors?.['required']">Datum je obavezan.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="time-field">
                    <mat-label>Vreme Početka</mat-label>
                    <input matInput type="time" formControlName="votingStartTime"> 
                    <mat-error *ngIf="awardEventForm.get('votingStartTime')?.errors?.['required']">Vreme je obavezno.</mat-error>
                </mat-form-field>
            </div>

            <!-- Datum i vreme kraja -->
            <div class="date-time-group">
                <mat-form-field appearance="outline" class="date-field">
                    <mat-label>Datum Kraja</mat-label>
                    <input matInput [matDatepicker]="pickerEnd" formControlName="votingEndDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                    <mat-error *ngIf="awardEventForm.get('votingEndDate')?.errors?.['required']">Datum je obavezan.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="time-field">
                    <mat-label>Vreme Kraja</mat-label>
                    <input matInput type="time" formControlName="votingEndTime">
                    <mat-error *ngIf="awardEventForm.get('votingEndTime')?.errors?.['required']">Vreme je obavezno.</mat-error>
                </mat-form-field>
            </div>

            <mat-dialog-actions align="end">
                <button mat-button (click)="onCancel()">Poništi</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!awardEventForm.valid">
                    {{ shouldEdit ? 'Sačuvaj izmene' : 'Kreiraj dodelu' }}
                </button>
            </mat-dialog-actions>
        </form>
    </mat-card-content>
</mat-card>