<h2 *ngIf="isEditMode">Izmeni objekat</h2>
<h2 *ngIf="!isEditMode">Dodaj objekat</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Naziv</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Latitude</mat-label>
    <input matInput type="number" formControlName="latitude">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Longitude</mat-label>
    <input matInput type="number" formControlName="longitude">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Kategorija</mat-label>
    <mat-select formControlName="category">
      <mat-option [value]="0">WC</mat-option>
      <mat-option [value]="1">Restoran</mat-option>
      <mat-option [value]="2">Parking</mat-option>
      <mat-option [value]="3">Ostalo</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Sačuvaj
  </button>

</form>
